.search-bar{
  margin-top: 45px;
  margin-bottom: 27px;
  position: sticky;
  top: 0px;
  z-index: 10;
  background: #F8FAFB;
  width: 100%;

  .btn-1{
    width: 97px;
  }

  @media screen and (max-width: 1024px) {
    align-items: center;
    padding: 10px;
    .btn-1{
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 425px) {
    .btn-1{
      margin-bottom: 0px;
      margin-right: 20px;
    }
  }
}